body{
    margin: 0;
    background-color: rgb(140, 206, 136);
    display: flex;
    align-items: center; /*made thins be in hte middle*/
    justify-content: center;  /* here made the canvas or other obj insde thebody be in the middle*/
    height: 100vh;
    width:  100vw;
  }
  .holdscreen{
    width: 100%;
    height: 100%;
    background-color: rgb(217, 238, 238);
    display:flexbox;
    align-items: center; /*made thins be in hte middle*/
    justify-content: center; 

  }
 

 
  canvas{
    position: relative;
    /* background-image: './img/arvores.png'; */
    background-color: aqua;
    margin-top: 115px;
    margin-left: 30%;
    width: 800px;
    height: 576;
  }
  .holdscreen .screens{
    height: 55px;
    background-color: rgb(49, 44, 114);
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  .holdscreen .screens .lifetext{
    margin: 5px;
    border-radius:20px;
    background-color: aliceblue;
  }
  .life{
    font-size: 25px;
    /* background-color: rgb(55, 39, 71); */
    margin-left: 50px;
    margin-right: 50px;
    width: 60px;
  }
  .holdscreen .screens .scoretext{
    margin: 5px;
    border-radius:20px;
    background-color: aliceblue;
  }
  .holdscreen .screens .playbtn{
    width:  160px;
    margin: 5px;
    border-radius:20px;
    background-color: aliceblue;
  }

  .ScreenFront{
      /* display: flex; */
      justify-content: center;
      align-items: center;
      
      margin-left: 5%;
      width: 1550px;
      height: 900px;
      background-color: #d9eeed;
      position:absolute
  }

  .ScreenFront .container{
      display: flexbox;
      border-radius: 40px;
      width: 650px;
      height: 800px;
      background-color: rgb(49, 44, 114);
  }
  .ScreenFront .container .imgexplain{
      text-align: center;
      align-items: center;
      justify-content: center;
  }
  .text{
      color: white;
  }
  .imgexplain{
      margin: 50px;
      width: 450px;
      
  }
  .ScreenLoser{
      /* display: flex; */
      justify-content: center;
      align-items: center;
      margin-left: 5%;
      width: 1550px;
      height: 900px;
      background-color: #d9eeed;
      position:absolute
  }

  .ScreenLoser .containerLoser{
    display: flexbox;
    border-radius: 40px;
    width: 650px;
    height: 800px;
    background-color: rgb(49, 44, 114);
  }
  .ScreenLoser .containerLoser .imgexplain{
      text-align: center;
  }
  .ScreenLoser .containerLoser .playbtn{
    width:  160px;
    height: 55px;
    margin: 5px;
    border-radius:20px;
    background-color: aliceblue;
  }

  .ScreenWinner{
      display: none;
      justify-content: center;
      align-items: center;
      margin-left: 5%;
      width: 1550px;
      height: 900px;
      background-color: #d9eeed;
      position:absolute
  }

  .ScreenWinner .containerWinner{
    display: flexbox;
    border-radius: 40px;
    width: 650px;
    height: 800px;
    background-color: rgb(49, 44, 114);
  }

  .ScreenWinner .containerWinner .imgexplain{
    text-align: center;
  }
  .keepgoing{
    width:  160px;
    height: 55px;
    margin: 5px;
    border-radius:20px;
    background-color: aliceblue;
  }
